<div class="parent">
  <img src="https://i.postimg.cc/MTRK7Thf/bg-form.jpg" alt="">
  <div class="container">
      <form action="#">
          <h1>Login</h1>
          <div class="input-box">
              <input type="text" name="email" [(ngModel)]="loginObj.email" placeholder="Username or Email" required>
              <i class='bx bx-envelope'></i>
          </div>

          <!-- <div class="col-3">
              <select class="form-control bg-primary">
                  @for (item of userList; track $index) {
                      <option value="{{item.fName}}"></option>
                  }
              </select>
          </div> -->
          
          <div class="input-box">
              <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" required>
              <i class='bx bx-lock-alt'></i>
          </div>
          <div class="remember">
              <label for="remember">
                  <input type="checkbox" id="remember"> Remember me
              </label>
              <a href="#">Forgot password?</a>
          </div>
          <button type="submit" class="btn" (click)="onLogin()">Login</button>
          <div class="register">
              <p>Don't have an account? <br> <a (click)="goRegister()">Register</a></p>
          </div>
      </form>
  </div>
</div>


  


