<footer class="bg-dark py-5 mt-0 pb-1">
    <div class="container">
      <div class="row">
        <!-- Column 1 Start -->
        <div class="col-md-3 text-center">
          <h2 class="footer-about-h2">Green Food Delivery</h2>

          <!-- ================Logo================== -->
          <p class="d-block footer-about-p"><img src="assets/frontend_assets/logo.png" width="50%" height="70px" alt="Sea Green Inn">
          </p>
        </div>
        <!-- Column 1 End -->
        <!-- Column 2 Start -->
        <div class="col-md-3">
          <h2 class="footer-about-h2">About Us</h2>
          <p class="d-block footer-about-p">Sea Green Inn Ltd is the First Five Star Eco-friendly Resort in Bangladesh,
            Started its commercial operation from 05 May 2024.</p>


          <!-- ======================Social Media Icon End================= -->
        </div>
        <!-- Collumn 2 End -->

        <!-- Collumn 3 Start -->
        <div class="col-md-3 footer-col2">
          <ul class="footer-list-col2">
            <li class="h3">Catagories</li>
            <li><a  class="footer-catagories-list">View Menus</a></li>
            <li><a  class="footer-catagories-list">Cart</a></li>
            <li><a  class="footer-catagories-list">Contact</a></li>
          </ul>
        </div>
        <!-- Collumn 3 End -->

        <!-- Collumn 4 Start -->
        <div class="col-md-3">
          <h2 class="footer-about-h2">Contact Info</h2>
          <p style="color: #a1a1a1; font-family: robot;"> <i class="fa-solid fa-phone" style="color: #a1a1a1;"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;+88 0186421-8632<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +88
            01568014812<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax- 5689653</p>
        </div>
      </div>
      <!-- Collumn 4 End -->

      <div class="container pb-0 mb-0" style="color: rgb(185, 185, 185); text-align: center;">
        <p>© 2024 Green Food Ltd. All rights reserved.</p>
      </div>
    </div>
  </footer>
