<nav class="container navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container-fluid row mx-5">
        <!-- Logo Section -->
        <div class="col-6 col-md-4">
            <a class="navbar-brand" href="#">GreenFood</a>
            <!-- Toggler for mobile -->
        <div class="m-auto justify-content-end d-flex align-items-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
        </div>


        


        <!-- Collapsible content -->
        <div class="collapse navbar-collapse col-6 col-md-8" id="navbarContent">
            <!-- Left-aligned Home, Menu, Contact -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <!-- Right-aligned Search, Cart, Login -->
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/frontend_assets/search_icon.png" alt="Search"
                            width="20" height="20"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/frontend_assets/basket_icon.png" alt="Cart" width="20"
                            height="20"></a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-success" type="button">Login</button>
                </li>
            </ul>
            
        </div>
        
    </div>
</nav>