<body>
    <div class="container">
      <div class="login-form">
        <div class="login-form-fields">
          <div class="login-input-group">
            <div class="name-password-login-button">
  
              <!-- User Icon -->
              <div class="user-icon">
                <i class="fa-solid fa-user"></i>
              </div>
  
              <form>
                <!-- Name Field -->
                <div class="name">
                  <i class="fa-solid fa-user"></i>
                  <input type="text" name="user-name" id="user-name" placeholder="Username">
                </div>
  
                <!-- Password Field -->
                <div class="password">
                  <i class="fa-solid fa-lock"></i>
                  <input type="password" name="password" id="user-password" placeholder="Password">
                </div>
  
                <!-- Login Button Field -->
                <div class="login-btn">
                  <button type="submit">Log In</button>
                </div>
              </form>
  
              <!-- Forget Password and Sign Up Field -->
              <div class="forget-password-sign-up-container">
                <div class="forget-password"><a href="#">Forget Password?</a></div>
                <div class="sign-up"><a href="#">Sign Up</a></div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>